package pis

    // <iframe src="http://localhost:3000/d-solo/a230bd89-7bf8-49d7-b05f-51cde06b3871/pi1?orgId=1&panelId=5" width="450" height="200" frameborder="0"></iframe>
templ PI1() {
    <iframe src="http://localhost:3000/public-dashboards/12838b15fc054670885bafe996dc8471" width="100%" height="100%" frameborder="0"></iframe>
}
